body {
    font-family: Verdana,"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.container {
    margin: 0;
    display: inline;
}

ul,ol {
    padding-left: 1em;
}

table,td,th {
    vertical-align: baseline;
}

body {
    padding-left: 2em;
    background: #eee;
}

#topbar {
    text-align: right;
}

#twitter-widget-0 {
    float: right;
    margin: 10px;
}

p {
    margin-bottom: 1em;
}

ul {
    margin-top: .2em;
}

li {
    margin-left: 2em;
}

.text {
    text-align: left;
    padding-left: 2em;
    max-width: 360px;
}

.date {
    color: #444;
    font-size: 80%;
}

.loading {
    color: #666;
}

.content_set {
    background-color: #DDDDDD;
    border: 1px solid #AAAAAA;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
}

.content_set_content {
    clear: both;
    padding: 0.2em 0.5em;
}

.content_set_title {
    background-color: #eee;
    float: left;
    font-size: 120%;
    margin-left: 1px;
    margin-top: 1px;
    padding: 0.1em 0.5em;
    color: #222;
}

.set_description {
    font-size: 80%;
    max-width: 80%;
    color: #444;
}

.config_table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.feature_name {
    padding-right: 0.5em;
}

.feature_description {
    padding-left: .5em;
    font-size: 80%;
    color: #444;
    width: 30%;
}

.message {
    position: fixed;
    top: 0;
    padding: 5px 0px;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    text-align: center;
    background: #DDDDDD;
    color: #333;
}
