html, body, h1, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: #eee;
	font-size: 75%;
	line-height: 1.5;
	padding-left: 2em;
}
.span-14 {
	max-width: 550px;
}
.span-19 {
	max-width: 750px;
}
h1 {
	font-size: 3em;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 0.5em;
}
#topbar {
	text-align: right;
	width: 100%;
}
@media (hover: none) {
	#topbar {
		text-align: left;
	}
}
.content_set {
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
	margin-bottom: 1em;
	padding-bottom: 0.3em;
}
.content_set_content {
	clear: both;
	padding: 0.2em 0.5em;
}
.content_set_title {
	background-color: #eee;
	display: inline-block;
	font-size: 120%;
	margin-left: 1px;
	margin-top: 1px;
	padding: 0.1em 0.5em;
	color: #222;
}
.set_description {
	font-size: 80%;
	max-width: 80%;
	color: #444;
}
ul, ol {
	padding-left: 1em;
}
table, td, th {
	vertical-align: baseline;
}
p {
	margin-bottom: 1em;
}
ul {
	margin-top: .2em;
}
li {
	margin-left: 2em;
}
a:focus, a:hover {
	color: #000;
}
a {
	color: #009;
	text-decoration: underline;
}
.feature_description {
	padding-left: .5em;
	font-size: 80%;
	color: #444;
	width: 30%;
}
.feature_name {
	padding-right: 0.5em;
}
.config_table td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
	margin: 0.5em 0;
}
th, td, caption {
	padding: 4px 10px 4px 5px;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
label {
	font-weight: bold;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
	background-color: #fff;
	border: 1px solid #bbb;
}
ul {
	margin: 0 1.5em 1.5em 0;
}
.text {
	text-align: left;
	padding-left: 2em;
	max-width: 360px;
}
.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,
.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,
.span-19,.span-20,.span-21,.span-22,.span-23,.span-24 {
	margin-right: 10px;
}
.action_btn {
	width: 150px;
}
.action_desc {
	font-size: 10px;
	color: #2e2e2e;
}
.content_set_title {
	cursor: pointer;
}
