<!DOCTYPE html>
<html lang="en">
    <head>
        <title>403 Access Denied</title>
        <style>
            body {
                background-color: #C0C0C0;
            }
            #pan {
                border: solid 4px #000000;
                background-color: #FFFFFF;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <div id="pan">
            <h1>403 - Access Denied</h1>
            Access to this resource is forbidden.<br>
        </div>
    </body>
</html>