{% extends "base.html" %}

{% block title %}
	Not Safe For Work | Our World of Text
{% endblock %}

{% block header %}
	<h1>Not Safe For Work</h1>
{% endblock %}

{% block endhead %}
	<script>
		function continue_enter(worldname) {
			var info = localStorage.getItem("nsfw_yes");
			if(!info) {
				info = {};
			} else {
				info = JSON.parse(info);
			}
			info[worldname.toUpperCase()] = true;
			localStorage.setItem("nsfw_yes", JSON.stringify(info));
			window.location.pathname = "/" + worldname;
		}
	</script>
{% endblock %}

{% block content %}
	<div class="text">
		<p>This page has been marked as <span style="color: red;">NSFW</span>.
			<br>
			You must be 18+ to continue.
			<br>
			<div><a href="/" style="margin-right: 100px;">Cancel</a>
				<button onclick="continue_enter('{{world_name}}');">Continue</button>
			</div>
		</p>
	</div>
{% endblock %}