{% extends "base.html" %}

{% block title %}
	Modify Custom Rank For "{{ user_edit.username }}" | Our World of Text
{% endblock %}

{% block header %}
	<h1>Modify Custom Rank For "{{ user_edit.username }}"</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block content %}
	<div class="content_set">
		<div class="content_set_title">Set Custom User Rank</div>
		<div class="content_set_content">
			{% if message %}
				<span style="font-size:80%"><i>{{ message }}</i></span>
			{% endif %}
			<form method="POST" action=".">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}" />
				Set custom rank to this user: <select name="rank">
				<option value="-1"{% if current_rank == "none" %} selected{% endif %}>(No custom rank)</option>
				{% for rank in ranks %}
				<option value="{{rank.id}}"{% if current_rank == rank.id %} selected{% endif %}>{{rank.name}}</option>
				{% endfor %}
			</select>
			<input type="hidden" name="form" value="rank">
			<input type="submit" value="Submit">
			
			</form>
		</div>
	</div>
{% endblock %}