{% extends "base.html" %}

{% block title %}
	User Info for "{% if accountSystem == "uvias" %}{{ user_info.display_name }}{% else %}{{ user_info.username }}{% endif %}" | Our World of Text
{% endblock %}

{% block header %}
	<h1>User Info for "{% if accountSystem == "uvias" %}{{ user_info.display_name }}{% else %}{{ user_info.username }}{% endif %}"</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block content %}
	<div class="content_set">
		<table>
			<tr>
				<td>
					<b>Username</b>
				</td>
				<td>
					{{ user_info.username }}
				</td>
			</tr>
			{% if accountSystem == "uvias" %}
			<tr>
				<td>
					<b>Display Name</b>
				</td>
				<td>
					{{ user_info.display_name }}
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>
					<b>ID</b>
				</td>
				<td>
					{{ user_info.id }}
				</td>
			</tr>
			<tr>
				<td>
					 <b>Date joined</b>
				</td>
				<td>
					{{ date_joined }}
				</td>
			</tr>
			<tr>
				<td>
				   <b>Last login</b>
				</td>
				<td>
					{{ last_login }}
				</td>
			</tr>
			<tr>
				<td>
					<b>Is active</b>
				</td>
				<td>
					{{ is_active }}
				</td>
			</tr>
			<tr>
				<td>
					<b>Level</b>
				</td>
				<td>
					{{ level }}
				</td>
			</tr>
			<tr>
				<td>
					<b>Worlds owned</b>
				</td>
				<td>
					{{ worlds_owned }}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}