{% extends "base.html" %}

{% block title %}
    Admin Panel | Node World of Text
{% endblock %}

{% block endhead %}
    <script>
        function goto_edits() {
            window.location.pathname = "/administrator/edits/" + worldname.value + "/";
            return false;
        }
        function goto_config() {
            window.location.pathname = "/accounts/configure/" + worldname_config.value + "/";
            return false;
        }
    </script>
{% endblock %}

{% block header %}
    <h1>Administrator Panel</h1>
{% endblock %}

{% block content %}
    <div class="content_set">
        <div class="content_set_title">View Raw Edits</div>
        <div class="content_set_content">
            <form onsubmit="return goto_edits();">
				World name: 
				<input type="text" name="worldname" id="worldname" value="">
				<input type="submit" value="View">
			</form>
        </div>
    </div>

    <div class="content_set">
        <div class="content_set_title">Edit World Config</div>
        <div class="content_set_content">
            <form onsubmit="return goto_config();">
				World name: 
				<input type="text" name="worldname" id="worldname_config" value="">
				<input type="submit" value="View">
			</form>
        </div>
    </div>
{% endblock %}
