{% extends "base.html" %}

{% block title %}
	Manage Restrictions | Our World of Text
{% endblock %}

{% block header %}
	<h1>Manage Restrictions</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block content %}
	<div class="content_set">
		<div class="content_set_title">Restrictions</div>
		<div class="content_set_content">
			<span id="rexamples">
				Examples:<br>
				ip=31.32.33.34;type=charrate;rate=30<br>
				ip=31.32.33.34;type=charrate;rate=200;world=test123<br>
				ip=31.32.33.34;type=charrate;rate=1;world=;region=-1,-1,0,0<br>
				ip=31.32.33.34;type=color<br>
				ip=31.32.33.34;type=color;region=-25,-25,25,25<br>
				ip=31.32.33.34;type=color;region=-1,-1,0,0;world=test123<br>
				ip=31.32.33.34;type=linkrate;rate=5;world=test123 (no region)<br>
				ip=31.32.33.34;type=daccess;mode=site;note=Your note here<br>
				ip=31.32.33.34;type=daccess;mode=httpwrite<br>
				group=cg1;type=charrate;rate=15
			</span>
			<textarea class="datalist" id="rlist">{{ rstr }}</textarea>
			<br>
			<button onclick="updList(1);">Update</button>
		</div>
	</div>
	<div class="content_set">
		<div class="content_set_title">Coalition Group 1 (cg1)</div>
		<div class="content_set_content">
			<span id="rexamples">
				Example:<br>
				23.45.0.0/16<br>
				23.47.0.0/16<br>
				29.13.53.0/24
			</span>
			<textarea class="datalist" id="clist">{{ coal }}</textarea>
			<br>
			<button onclick="updList(2);">Update</button>
		</div>
	</div>
	<style>
		.datalist {
			width: 100%;
			box-sizing: border-box;
			height: 200px;
		}
		#rexamples {
			font-family: 'Courier New', monospace;
		}
	</style>
	<script>
		var csrftoken = "{{csrftoken}}";
		
		var rlist = document.getElementById("rlist");
		function updList(type) {
			var list = null;
			if(type == 1) list = rlist.value;
			if(type == 2) list = clist.value;

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/administrator/restrictions/?type=" + type, true);
			xhr.setRequestHeader("X-CSRF-Token", csrftoken);

			xhr.onload = function(res, b) {
				alert("Response: " + xhr.responseText);
			}

			xhr.send(list);
		}
	</script>
{% endblock %}