{% extends "base.html" %}

{% block title %}
	Modify User "{{ user_edit.username }}" | Our World of Text
{% endblock %}

{% block header %}
	<h1>Modify User "{{ user_edit.username }}"</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block content %}
	<div class="content_set">
		<div class="content_set_title">User Rank</div>
		<div class="content_set_content">
			{% if message %}
				<span style="font-size:80%"><i>{{ message }}</i></span>
			{% endif %}
			<form method="POST" action=".">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}" />
				Set rank to this user: <select name="rank">
				<option value="operator"{% if user_edit.level == 3 %} selected{% endif %}>Operator (manages user ranks and the site)</option>
				<option value="superuser"{% if user_edit.level == 2 %} selected{% endif %}>Superuser (basic administrator privileges)</option>
				<option value="staff"{% if user_edit.level == 1 %} selected{% endif %}>Staff (access to the script manager)</option>
				<option value="default"{% if user_edit.level == 0 %} selected{% endif %}>Default (regular user)</option>
			</select>
			<input type="hidden" name="form" value="rank">
			<input type="submit" value="Submit">
			
			</form>
		</div>
	</div>
{% endblock %}