{% extends "base.html" %}

{% block title %}
	User List | Our World of Text
{% endblock %}

{% block header %}
	<h1>User List</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block content %}
	<div class="content_set" style="width: auto; display: table;">
		<div class="content_set_title">User List</div>
		<div class="content_set_content">
			<table>
				<tbody>
					<tr>
						<th>
							ID
						</th>
						<th>
							Username
						</th>
						{% if accountSystem == "uvias" %}
						<th>
							Display Name
						</th>
						{% endif %}
						<th>
							Active
						</th>
						<th>
							Level
						</th>
						{% if accountSystem == "uvias" %}
						<th>
							Rank
						</th>
						{% endif %}
						<th>
							Last Login
						</th>
						<th>
							Date Joined
						</th>
					</tr>
					{% for user in users %}
					<tr>
						<td>
							{{user.id}}
						</td>
						{% if accountSystem == "uvias" %}
						<td>
							{{user.login_name}}
						</td>
						{% endif %}
						<td>
							{{user.username}}
						</td>
						<td>
							{{user.is_active}}
						</td>
						<td>
							{{user.level}}
						</td>
						{% if accountSystem == "uvias" %}
						<td>
							{{user.rank_name}}
						</td>
						{% endif %}
						<td style="white-space: nowrap;">
							{{user.last_login}}
						</td>
						<td style="white-space: nowrap;">
							{{user.date_joined}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}