<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Our World of Text{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/print.css{{ staticVersion }}" type="text/css" media="print">
		<link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="/static/css/site.css{{ staticVersion }}">
		<link rel="shortcut icon" href="/static/favicon.png">
		{% block endhead %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="span-19">
				<div id="topbar" class="span-19 last">
					{% if user.authenticated %}
						{% if accountSystem == "uvias" %}
							Logged in as {{ user.username }}{% if user.username != user.display_username %}<b> ({{ user.display_username }})</b>{% endif %}:
						{% else %}
							Logged in as {{ user.username }}:
						{% endif %}
					{% endif %}
					<a href="/home/">Home</a>
					{% if user.authenticated %}
						| <a href="/accounts/profile/">Your Worlds</a>
						{% if user.superuser %}
							| <a href="/administrator/">Admin Panel</a>
							| <a href="/administrator/monitor/">Monitor</a>
						{% endif %}
						{% if user.staff %}
							| <a href="/script_manager/">Script Manager</a>
						{% endif %}
						| <a href="{{ logoutPath }}">Logout</a>
					{% else %}
						| <a href="{{ loginPath }}">{% if accountSystem == "uvias" %}Login via Uvias{% else %}Login{% endif %}</a>
						| <a href="{{ registerPath }}">Register</a>
					{% endif %}
				</div>

				<div class="span-19 last">
					{% block header %}{% endblock %}
				</div>

				<div class="span-14">
					{% block content %}{% endblock %}
				</div>
				<div class="span-5 last">
					&nbsp;
				</div>
			</div>
		</div>
		
		{% block endbody %}{% endblock %}
		<script>
			function addCollapsableEvent(title, cont) {
				title.onclick = function() {
					var disp = cont.style.display;
					if(disp == "none") {
						cont.style.display = "";
					} else {
						cont.style.display = "none";
					}
				}
			}
			function makeCollapsableSections() {
				var sections = document.getElementsByClassName("content_set");
				for(var i = 0; i < sections.length; i++) {
					var sect = sections[i];
					var titles = sect.getElementsByClassName("content_set_title");
					var conts = sect.getElementsByClassName("content_set_content");
					if(!titles.length || !conts.length) continue;
					var title = titles[0];
					var cont = conts[0];
					addCollapsableEvent(title, cont);
				}
			}
			makeCollapsableSections();
		</script>
	</body>
</html>