{% extends "base.html" %}

{% block title %}
	Options for "{{ world }}" | Our World of Text
{% endblock %}

{% block endhead %}
<link rel="stylesheet" type="text/css" href="/static/jquery.autocomplete.css">
{% endblock %}

{% block header %}
	<h1>Options for "{{ world }}"</h1>
	<span><a href="/accounts/profile/">« Back to profile</a></span>
{% endblock %}

{% block content %}
	<div class="content_set">
		<div class="content_set_title">Access</div>
		<div class="content_set_content" id="world_access">
			<p class="set_description">
				Who can visit and write on this world, by default.
				You can designate members below.
				Write-permissions can be overridden for particular sections of your world: visit your world, then click the "More" menu for options.
			</p>
			<form method="POST" action="">
				<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' />
				<p>
					Who can visit this world?
					<select name="readability">
						<option value="0"{%if readability == 0%} selected{%endif%}>anyone</option>
						<option value="1"{%if readability == 1%} selected{%endif%}>me and members</option>
						<option value="2"{%if readability == 2%} selected{%endif%}>only me</option>
					</select>
				</p>
				<p>
					Who can write on it?
					<select name="writability">
						<option value="0"{%if writability == 0%} selected{%endif%}>anyone</option>
						<option value="1"{%if writability == 1%} selected{%endif%}>me and members</option>
						<option value="2"{%if writability == 2%} selected{%endif%}>only me</option>
					</select>
				</p>
				<input type="hidden" name="form" value="access_perm">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	<div class="content_set clearfix">
		<div class="content_set_title">Features</div>
		<div class="content_set_content" id="world_features">
			<p class="set_description">
				Who can use what features on this world.
			</p>
			<form method="POST" action="">
				<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' />
				<table class="config_table">
					<tr>
						<td class="feature_name">Go to coordinates</td>
						<td>
							<select name="go_to_coord">
								<option value="0"{%if go_to_coord==0%} selected{%endif%}>anyone</option>
								<option value="1"{%if go_to_coord==1%} selected{%endif%}>me and members</option>
								<option value="2"{%if go_to_coord==2%} selected{%endif%}>only me</option>
							</select>
						</td>
						<td class="feature_description">
							Transports you to any given coordinates on a world.
						</td>
					</tr>
					<tr>
						<td class="feature_name">Create link to coordinates</td>
						<td>
							<select name="coord_link">
								<option value="0"{%if coord_link==0%} selected{%endif%}>anyone</option>
								<option value="1"{%if coord_link==1%} selected{%endif%}>me and members</option>
								<option value="2"{%if coord_link==2%} selected{%endif%}>only me</option>
							</select>
						</td>
						<td class="feature_description">
							Make a letter be a link to a different part of the world.
						</td>
					</tr>
					<tr>
						<td class="feature_name">Create link to URL</td>
						<td>
							<select name="url_link">
								<option value="0"{%if url_link==0%} selected{%endif%}>anyone</option>
								<option value="1"{%if url_link==1%} selected{%endif%}>me and members</option>
								<option value="2"{%if url_link==2%} selected{%endif%}>only me</option>
							</select>
						</td>
						<td class="feature_description">
							Make a letter be a link to a URL.
						</td>
					</tr>
					<tr>
						<td class="feature_name">Paste text</td>
						<td>
							<select name="paste">
								<option value="0"{%if paste==0%} selected{%endif%}>anyone</option>
								<option value="1"{%if paste==1%} selected{%endif%}>me and members</option>
								<option value="2"{%if paste==2%} selected{%endif%}>only me</option>
							</select>
						</td>
						<td class="feature_description">
							Paste a lot of text at once.
						</td>
					</tr>
					<tr>
						<td class="feature_name">Create members-only areas</td>
						<td>
							<select name="membertiles_addremove">
								<option value="true"{%if membertiles_addremove==1%} selected{%endif%}>me and members</option>
								<option value="false"{%if membertiles_addremove==0%} selected{%endif%}>only me</option>
							</select>
						</td>
						<td class="feature_description">
							Allows members to create and remove members-only protected areas.
						</td>
					</tr>
				</table>
				<input type="hidden" name="form" value="features">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	<div class="content_set">
		<div class="content_set_title">Style</div>
		<div class="content_set_content" id="world_style">
			<p class="set_description">
				Custom colors for your world
			</p>
			<form method="POST" action="">
				<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' />
				<table class="config_table">
					<tr>
						<td class="feature_name">Text color</td>
						<td>
							<input name="color" value="{{ color }}" maxlength="20">
						</td>
						<td class="feature_description">
							Use any <a href="http://en.wikipedia.org/wiki/Web_colors">CSS color</a>, such as "#40E0D0".
						</td>
					</tr>
					<tr>
						<td class="feature_name">Cursor color</td>
						<td>
							<input name="cursor_color" value="{{ cursor_color }}" maxlength="20">
						</td>
						<td class="feature_description">
						</td>
					</tr>
					<tr>
						<td class="feature_name">Guest cursor color</td>
						<td>
							<input name="cursor_guest_color" value="{{ cursor_guest_color }}" maxlength="20">
						</td>
						<td class="feature_description">
						</td>
					</tr>
					<tr>
						<td class="feature_name">Background color</td>
						<td>
							<input name="bg" value="{{ bg }}" maxlength="20">
						</td>
						<td class="feature_description">
						</td>
					</tr>
					<tr>
						<td class="feature_name">Owner area color</td>
						<td>
							<input name="owner_color" value="{{ owner_color }}" maxlength="20">
						</td>
						<td class="feature_description"></td>
					</tr>
					<tr>
						<td class="feature_name">Member area color</td>
						<td>
							<input name="member_color" value="{{ member_color }}" maxlength="20">
						</td>
						<td class="feature_description"></td>
					</tr>
					<tr>
						<td class="feature_name">Menu color</td>
						<td>
							<input name="menu_color" value="{{ menu_color }}" maxlength="20">
						</td>
						<td class="feature_description"></td>
					</tr>
				</table>
				<input type="hidden" name="form" value="style">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
	
	<div class="content_set">
		<div class="content_set_title">Time machine</div>
		<div class="content_set_content">
			<span style="margin-left:1em"><a href="/accounts/timemachine/{{ world }}/1000000/">View your world history</a></span>
		</div>
	</div>

	<div class="content_set">
		<div class="content_set_title">Download Your World</div>
		<div class="content_set_content">
			<span style="margin-left:1em"><a href="/accounts/download/{{ world }}/">Download</a></span>
		</div>
	</div>

	<div class="content_set">
		<div class="content_set_title">Members</div>
		<div class="content_set_content">
			{% if members %}
				<ul>
					<form method="POST" action="."><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' /></div>
					<input type="hidden" name="form" value="remove_member">
					{% for member in members %}
						<li>{{ member.member_name }} <input type="submit" name="remove_{{ member.member_name }}" value="Remove {{ member.member_name }}">
					{% endfor %}
					</form>
				</ul>
			{% else %}
				<span style="margin-left:1em">None</span>
			{% endif %}
			{% if add_member_message %}<div><i>{{ add_member_message }}</i></div>{% endif %}
			<div style="margin-top:.3em">
				<form method="POST" action="."><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' /></div>
				<label for="choose_member">Add a member: </label>
				<input id="choose_member" type="text" name="add_member" value="">
				<input type="hidden" name="form" value="add_member">
				<input type="submit" value="Submit">
			</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block endbody %}
<script type="text/javascript" src="/static/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/static/profile.js"></script>
{% endblock %}