{% extends "base.html" %}

{% block title %}
	Homepage | Our World of Text
{% endblock %}

{% block header %}
	<h1>About Our World of Text</h1>
{% endblock %}

{% block content %}
	<div class="text">
		<p>
			<a href="/">Our World of Text</a> is an infinite
			grid of text editable by any visitor. The changes made by other people
			appear on your screen as they happen. Everyone starts in the same place, but
			you can scroll through the world using your mouse.
		</p>
		<p>
			Put any letters at the end of the URL to go to a new world. For
			example, <a href="/forexample">{{ website }}forexample</a>.
			They all start off blank. You can also <a href="/accounts/profile/">create a custom
			world</a> for you and your friends.
		</p>
		<p>
			This is a recreation of <a href="https://www.yourworldoftext.com">YWOT</a> from scratch.<br>
			The subreddit is at <a href="https://www.reddit.com/r/OurWorldOfText">/r/OurWorldOfText</a>.<br>
			We also have a <a href="https://discord.gg/aqgH45B6W3">Discord</a> server.
		</p>
		<p>
			Contact OWOT: <a href="mailto:ourworldoftext@gmail.com">ourworldoftext@gmail.com</a>
		</p>
	</div>
{% endblock %}
