{% extends "base.html" %}

{% block title %}
    Homepage | Our World of Text
{% endblock %}

{% block header %}
    <h1>About Our World of Text</h1>
{% endblock %}

{% block content %}
    <div class="text">
        <p>
            <a href="/">Our World of Text</a> is an infinite
            grid of text editable by any visitor. The changes made by other people
            appear on your screen as they happen. Everyone starts in the same place, but
            you can scroll through the world using your mouse.
        </p>
        <p>
            Put any letters at the end of the URL to go to a new world. For
            example, <a href="/forexample">{{ website }}forexample</a>.
            They all start off blank. You can also <a href="/accounts/profile/">create a custom
            world</a> for you and your friends.
        </p>
        <p>
            YWoT started in 2009.<br>
            Around 2012 the creator made OWoT so that users could create javascript links without stealing accounts.<br>
            The original OWoT closed: August 20 2015. <br>
            Then InfraRaven was gifted the domain.<br>
            OWoT was pretty neat for a while under new management. I have some images on <a href="http://facebook.com/OurWorldOfText">http://facebook.com/OurWorldOfText</a><br>
            It was buggy, and eventually kept getting knocked offline by some scripter.<br>
            So we let it die...<br>
            Until a week ago.<br>
            Now we have new developers!<br>
            The difference between YWoT and OWoT now is basically that OWoT is getting updated.<br>
            So we've got colours and junk.
        </p>
        <p>
            Contact OWOT: <a href="mailto:ourworldoftext@gmail.com">ourworldoftext@gmail.com</a>
        </p>
    </div>
{% endblock %}
