{% extends "base.html" %}

{% block title %}
	Change Password | Our World of Text
{% endblock %}

{% block content %}
	{% if error %}
		<ul class="errorlist">
			<li>
				{{ error }}
			</li>
		</ul>
	{% endif %}
	<form method="post" action="">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}">
		<table>
			<tbody>
				<tr>
					<td>
						<label for="id_old_password">Old password:</label>
					</td>
					<td>
						<input autofocus="" id="id_old_password" name="old_password" type="password" required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="id_new_password1">New password:</label>
					</td>
					<td>
						<input id="id_new_password1" name="new_password1" type="password" required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="id_new_password2">New password confirmation:</label>
					</td>
					<td>
						<input id="id_new_password2" name="new_password2" type="password" required>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Submit">
	</form>
{% endblock %}