{% extends "base.html" %}

{% block title %}
	Private | Our World of Text
{% endblock %}

{% block header %}
	<h1>Private</h1>
{% endblock %}

{% block content %}
	<div class="text">
		<p>Sorry, the owner of this world has made it inaccessible to the general public.
			{% if user_is_authenticated %}
				<a href="/">Go back to the main world</a>, perhaps.
			{% else %}
				Perhaps <a href="/accounts/login/">login</a> or <a href="/accounts/register/">create an account</a>. 
				</p><p>
				Or, <a href="/">go back to the main world</a>.
			{% endif %}
			{% if privateWorldMsg %}<br><br><b>Note: </b><span>{{ privateWorldMsg }}</span>{% endif %}
		</p>
	</div>
{% endblock %}