{% extends "base.html" %}

{% block title %}
	Edit script "{{ name }}" | Our World of Text
{% endblock %}

{% block endhead %}
	<script type="text/javascript" src="/static/script_syntax/sh_main.min.js"></script>
	<script type="text/javascript" src="/static/script_syntax/sh_javascript.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/script_syntax/sh_style.css">
	<script>
		function update() {
			script_content_post.value = JSON.stringify(script_content.innerText);
		}
		onload = function() {
			script_content.innerText = scr_content.innerText;
			sh_highlightDocument();
		}
	</script>
	<style>
		#script_content {
			-moz-appearance: textfield-multiline;
			-webkit-appearance: textarea;
			border: 1px solid gray;
			font: medium -moz-fixed;
			font: -webkit-small-control;
			height: 28px;
			overflow: auto;
			padding: 2px;
			resize: both;
			width: 400px;
			font-family: monospace;
			margin: 0px !important;
		}
	</style>
{% endblock %}

{% block header %}
	<h1>Edit script "{{ name }}"</h1>
	<span><a href="/script_manager/">« Back to Script Manager</a></span>
{% endblock %}

{% block content %}
	<div id="scr_content" hidden>{{ content }}</div>
	<div class="content_set">
		<div class="content_set_title">Script</div>
		<div class="content_set_content">
			{% if message %}
				<span style="font-size:80%"><i>{{ message }}</i></span>
			{% endif %}
			<form method="POST" action=".">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}" />
				<span>Script title:</span>
				<br>
				<input type="text" name="title" value="{{ name }}" style="width: 400px;">
				<br>
				<span>Script content:</span>
				<br>
				<pre class="sh_javascript" id="script_content" contenteditable="true" style="height: 400px; overflow: scroll;" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"></pre>
				<button onclick="sh_highlightDocument();" type="button">Update Syntax Highlighting</button>
				<br>
				<input type="text" name="content" id="script_content_post" hidden>
				<br>
				<input type="hidden" name="form" value="modify_script">
				<input type="submit" value="Submit" onclick="update();">
			</form>
		</div>
	</div>
	<div class="content_set">
		<div class="content_set_title">Script Status</div>
		<div class="content_set_content">
			<form method="POST" action=".">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}" />
				<input type="checkbox" name="enabled" {% if enabled %} checked{% endif %}>
				<span>enabled</span>
				<input type="hidden" name="form" value="enable_disable_script">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
{% endblock %}