<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page_title }}</title>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<link rel="shortcut icon" type="image/png" href="/static/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		{% if meta_desc %}<meta name="description" content="{{meta_desc}}">{% else %}<meta name="description" content="Infinitely large website. Write anywhere.">{% endif %}
		<meta property="og:image" content="/static/logo.png">
		<link type="text/css" rel="stylesheet" href="/static/css/yourworld.css{{ staticVersion }}">
	</head>
	<body>
		<div id="main_view">
			<canvas id="owot" class="screen_canvas" style="display: none;"></canvas>
		</div>
		<a href="javascript: void 0;" id="link_element" title="Link to url..." target="_blank" style="cursor: pointer;">
			<div id="link_div"></div>
		</a>
		<div id="topbar" class="ui">
			<div id="topbar_inner">
				<div id="announce_container"></div>
				<span id="menu" class="ui-vis tab menu" style="display: none;">
					<img src="/static/pin.svg" class="menuPin" style="display: none;">
					<span class="menuText">Menu</span>
					<span style="font-size:50%">▼</span>
				</span>
			</div>
		</div>
		<div id="nav" class="ui menu ui-vis" style="display: none;">
			<ul></ul>
		</div>
		<div id="coords" class="ui ui-vis" style="display: none;">
			X: <span id="coord_X"></span>
			Y: <span id="coord_Y"></span>
			<div id="cursor_coords" style="display: none;">
				Cursor:
				<span id="cursor_on" style="display: none;">
					<span id="tile_X"></span>, <span id="tile_Y"></span> /
					<span id="char_X"></span>, <span id="char_Y"></span>
				</span>
				<span id="cursor_off" style="display: none">
					N/A
				</span>
			</div>
		</div>

		<div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}" /></div>
		<script>
			var state = {{ state|safe }};
		</script>

		<div id="chat_window">
			<div id="chat_upper" style="padding: 3px; padding-bottom: 0px;">
				<div class="chat_tab_button chat_tab_selected" id="chat_page_tab">
					This page&nbsp;<b id="page_unread" class="unread" style="display: none;">(-)</b>
				</div><div class="chat_tab_button" id="chat_global_tab">
					Global&nbsp;<b id="global_unread" class="unread" style="display: none;">(-)</b>
				</div>
				<span id="usr_online"></span>
			</div>
			<div class="chatfield" id="page_chatfield"></div>
			<div class="chatfield" id="global_chatfield" style="display: none;"></div>
			<div id="chat_lower" style="width: 100%; display: flex;">
				<input style="width: 100%; margin: 3px; margin-right: 0px;" id="chatbar" autocomplete="off" aria-autocomplete="list">
				<button id="chatsend" style="margin: 3px;">Send</button>
			</div>
		</div>

		<script src="/static/yw/javascript/helpers.js{{ staticVersion }}"></script>
		<script src="/static/yw/javascript/chat.js{{ staticVersion }}"></script>
		<script src="/static/yw/javascript/owot.js{{ staticVersion }}"></script>
	</body>
</html>