<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <title>Our World of Text</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/static/yourworld.css">
        <link rel="shortcut icon" href="/static/favicon.png">
        {% if css_timemachine %}
            {{ css_timemachine | safe }}
        {% endif %}
        {% for script in user.scripts %}
            <script src="/script_manager/view/{{ script.name }}/"></script>
        {% endfor %}
    </head>
    <body>
        <div id="topbar" class="ui">
            <div id="topbar_inner">
                <div id="announce" class="ui-vis">
                    <span align="center" id="announce_text"></span>
                    <span id="announce_close" class="announce_close">X</span>
                </div>
                <span id="menu" class="ui-vis tab menu">Menu <span style="font-size:50%">▼</span></span>
            </div>
        </div>
        <div id="nav" class="ui menu ui-vis">
            <ul>
                <li>
                    <a href="/home/" target="_blank">More...&nbsp;<img src="/static/Icon_External_Link.png"></a>
                </li>
            </ul>
        </div>
        <div id="coords" class="ui ui-vis">
            X: <span id="coord_X"></span>
            Y: <span id="coord_Y"></span>
        </div>
        <div id="coordinate_input_modal" style="display:none" ;>
            <form method="get" action="#" id="coord_input_form">
                <div id="coord_input_title" style="max-width:20em">Go to coordinates:</div>
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td>X: </td>
                            <td><input type="text" name="coord_input_X" value=""></td>
                        </tr>
                        <tr>
                            <td>Y: </td>
                            <td><input type="text" name="coord_input_Y" value=""></td>
                        </tr>
                    </tbody>
                </table>
                <div id="coord_input_submit"><input type="submit" value="   Go   "> or <span id="coord_input_cancel" class="simplemodal-close simplemodal-closelink">cancel</span></div>
            </form>
        </div>
        <div id="url_input_modal" style="display:none">
            <form method="get" action="#" id="url_input_form">
                <div id="url_input_title" style="max-width:20em"></div>
                <br><label for="url_input">URL: </label><input id="url_input_form_input" type="text" name="url_input" value="">
                <div id="url_input_submit"><input type="submit" value="   Go   "> or <span id="url_input_cancel" class="simplemodal-close simplemodal-closelink">cancel</span></div>
            </form>
        </div>
        <div id="color_input_modal" style="display:none">
            <form method="get" action="#" id="color_input_form">
                <div id="color_input_title" style="max-width:20em"></div>
                <br><label for="color_input">Color Code: <input class="jscolor" value="000000" id="color_input_form_input">
                <div id="color_input_submit"><input type="submit" value="   Go   "> or <span id="color_input_cancel" class="simplemodal-close simplemodal-closelink">cancel</span></div>
            </form>
        </div>
        <h1 id="loading">Loading...</h1>
        <div id="yourworld"></div>
        <div style="display:none"><input type='hidden' name='csrfmiddlewaretoken' value='{{ user.csrftoken }}' /></div>
        <script type="text/javascript">
            var state = {{ state|safe }};
        </script>

        <canvas id="owot" hidden></canvas>
        <canvas id="text" style="position: absolute; left: 0px; top: 0px;" hidden></canvas>
        <textarea autocapitalize="off" autocorrect="off" autocomplete="off" style="left: -1000px; top: -1000px; position: absolute;" id="textInput"></textarea>
    
        <script type="text/javascript" src="/static/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.7.2.custom.min.js"></script>
        <script type="text/javascript" src="/static/jquery.scrollview.js"></script>
        <script type="text/javascript" src="/static/jquery.simplemodal-1.3.3.mod.js"></script>
        <script type="text/javascript" src="/static/reconnecting-ws.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/setup.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/menu.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/permissions.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/owot.js"></script>

        <!--
        <script type="text/javascript" src="/static/yw/javascript/helpers.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/config.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/CoordinateInputModal.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/URLInputModal.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/ColorInputModal.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/world.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/tile.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/tilestore.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/tileRenderer.js"></script>
        <script type="text/javascript" src="/static/yw/javascript/begin.js"></script>
        -->
        <script type="text/javascript" src="/static/jscolor.min.js"></script>
    </body>
</html>