{% extends "base.html" %}
{% block header %}
    <h1>Log in to Our World of Text</h1>
{% endblock %}
{% block content %}
{% if form_errors %}
    {% if !message %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
{% endif %}
<form method="post" action="/accounts/login/"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' /></div>
<table>
<tr>
    <td><label for="id_username">Username:</label></td>
    <td><input id="id_username" type="text" name="username" maxlength="30"/></td>
</tr>
<tr>
    <td><label for="id_password">Password:</label></td>
    <td><input type="password" name="password" id="id_password" /></td>
</tr>
</table>

<input type="submit" value="login" />
<a href="/accounts/register/">Don't have an account?</a>
<input type="hidden" name="next" value="" />
</form>

{% endblock %}