{% extends "../base.html" %}

{% block title %}
Registration | Node World of Text
{% endblock %}

{% block header %}
<h1>Sign up for a Node World of Text account</h1>
{% endblock %}

{% block content %}
<form action="/accounts/register/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ csrftoken }}' /></div>
<table>
<tr>
    <td align="right" valign="top">Username:</td>
    <td>
        <input id="id_username" type="text" name="username" maxlength="30" value="{{ username }}" /> <br/>
        {% for error in form_username_errors %}
        <div><span style="color:red">{{ error }}</span></div>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Email:</td>
    <td>
        <input id="id_email" type="text" class="required" name="email" maxlength="75" value="{{ email }}" /> <br/>
        {% for error in form_email_errors %}
        <div><span style="color:red">{{ error }}</span></div>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password:</td>
    <td>
        <input id="id_password1" type="password" class="required" name="password1" value="{{ password1 }}" /> <br/>
        {% for error in form_password1_errors %}
        <div><span style="color:red">{{ error }}</span></div>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password (again):</td>
    <td>
        <input id="id_password2" type="password" class="required" name="password2" /> <br/>
        {% for error in form_password2_errors %}
        <div><span style="color:red">{{ error }}</span></div>
        {% endfor %}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Register" /></td>
</tr>
</table>
</form>
{% endblock %}

{% block endbody %}
<script type="text/javascript" src="/static/zxcvbn.js"></script>
<script type="text/javascript">
	document.getElementById("id_password1").addEventListener("input", function oninput() {
        var a = [document.getElementById("id_username").value,
                 document.getElementById("id_email").value,
                "wot", "ywot", "nwot", "world of text", "your world of text", "node world of text",
                "yourworldoftext", "nodeworldoftext", "worldoftext", "your", "node", "world", "of", "text"];
		this.style.backgroundColor = this.value.length ? "#"+"FF0000,FFA500,FFFF00,00FF00,006400".split(",")[zxcvbn(this.value, a).score] : "";
	});
</script>
{% endblock %}